// IMPORT PARTIALS
@use './styles/partials/variables' as *;
@use './styles/partials/typography' as *;
@use './styles/partials/mixins' as *;

// RESETS
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

body {
    background-color: #F6FBFE;
    color: #222831;
    font-family: Buenard;                                    
}