// IMPORT PARTIALS

@use './variables' as *;
@use './typography' as *;


// MEDIA QUERIES

@mixin tablet {
    @media screen and (min-width: $breakpoint-tablet) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $breakpoint-desktop) {
        @content;
    }
}

// FONT SELECTION

@mixin main-font {
    font-family: Buenard, serif;
}

@mixin nav-font {
    font-family: 'Nanum Brush Script', sans-serif;
}

@mixin header-font {
    font-family: 'Bungee Hairline', sans-serif;
}