// BREAKPOINTS

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;


// COLOURS

$primary-background: #EEEEEE;
$primary-dark: #31363F;
$primary-darker: #222831;
$primary-accent: #76ABAE;
$primary-white: #FFFFFF;
$secondary-active: #DF4461;
$divider-colour: #EEEEF2;

// FONT WEIGHTS

$regular: 400;
$bold: 700;

// CUSTOM