@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.authors {
    min-height: 80vh;
    width: 90%;
    margin: auto;

    &__message {
        @include header-font;
        text-align: center;
    }

    &__sub-message {
        @include header-font;
        font-size: .9rem;
        text-align: center;
        margin-top: 1.5rem;
    }
}