@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.header {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vw;
    text-align: center;
    color: white;

    &__link {
        color: white;
        padding: .3rem;
        text-decoration: none;
        @include nav-font;
    }

    &__link.active {
        color: red;
    }

    &__title {
        @include header-font;
        opacity: 0.3;
    }
}