@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;


.not-found {
    min-height: 80vh;
    text-align: center;
    width: 90%;

    @include tablet {
        width: 70%;
    }

    @include desktop {
        width: 60%;
    }

    &__message {
        @include header-font;
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    &__sub-message {
        @include header-font;
        margin-bottom: .5rem;
    }
}